/* header */
@mixin bg-color {
  background: rgba(217, 189, 135, 0.26);
}

@mixin sp-size {
  @media screen and (max-width:767px) {
    @content;
  }
}


#header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 30;
  @include bg-color;
}

#header[fixed=true] {
  position: fixed;
  background-color: rgba(217, 189, 135, 0);
  transition: 0.3s;
  z-index: 30;
  // top: 0;
}


.sitetitle {
  position: relative;
  top: 20px;
  left: -20px;
}

.logo {
  display: block;
  width: 160px;
}


.menu_item {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  li {
    padding-left: 70px;
    a {
      font-size: 1.8rem;
    }
  }
}

.hamberger-menu {
  width: 40px;
  height: 36px;
  display: none;
  position: relative;
  right: 15px;
  cursor: pointer;
  z-index: 30;
  @include sp-size {
    display: block;
  }
}


.hamberger-menu.active {
  z-index: 30;
}
.sp-menu {
  background-image: url('../img/nav-bg.jpg');
  background-size:cover;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  padding: 350px 15px;
  opacity: 0;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  visibility: hidden;
}
.sp-menu.active {
  opacity: 1;
  visibility: visible;
}
.sp-menu li {
  padding-bottom: 42px;
  a {
    color: rgba(151, 71, 255, 1);
    font-size: 1.8rem;
  }
}

/* header SP版 */
@media screen and (max-width:767px) {
  .menu_item {
    display: none;
  }

  .hamberger-menu span {
    width: 40px;
    height: 3px;
    background: rgba(51, 51, 51, 0.72);
    display: block;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }
  .hamberger-menu span:nth-child(1) {
    top: 12px;
  }
  .hamberger-menu span:nth-child(2) {
    top: 24px;
  }
  .hamberger-menu span:nth-child(3) {
    top: 36px;
  }
  .hamberger-menu.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 24px;
  }
  .hamberger-menu.active span:nth-child(2), .hamberger-menu.active span:nth-child(3) {
    transform: rotate(45deg);
    top: 24px;
  }
}

@media screen and (max-width:480px) {
  .sp-menu {
    padding: 250px 15px;
  }
}
