@charset "UTF-8";
#header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 30;
  background: rgba(217, 189, 135, 0.26);
}

#header[fixed=true] {
  position: fixed;
  background-color: rgba(217, 189, 135, 0);
  transition: 0.3s;
  z-index: 30;
}

.sitetitle {
  position: relative;
  top: 20px;
  left: -20px;
}

.logo {
  display: block;
  width: 160px;
}

.menu_item {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
}
.menu_item li {
  padding-left: 70px;
}
.menu_item li a {
  font-size: 1.8rem;
}

.hamberger-menu {
  width: 40px;
  height: 36px;
  display: none;
  position: relative;
  right: 15px;
  cursor: pointer;
  z-index: 30;
}
@media screen and (max-width: 767px) {
  .hamberger-menu {
    display: block;
  }
}

.hamberger-menu.active {
  z-index: 30;
}

.sp-menu {
  background-image: url("../img/nav-bg.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  padding: 350px 15px;
  opacity: 0;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  visibility: hidden;
}

.sp-menu.active {
  opacity: 1;
  visibility: visible;
}

.sp-menu li {
  padding-bottom: 42px;
}
.sp-menu li a {
  color: rgb(151, 71, 255);
  font-size: 1.8rem;
}

/* header SP版 */
@media screen and (max-width: 767px) {
  .menu_item {
    display: none;
  }
  .hamberger-menu span {
    width: 40px;
    height: 3px;
    background: rgba(51, 51, 51, 0.72);
    display: block;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }
  .hamberger-menu span:nth-child(1) {
    top: 12px;
  }
  .hamberger-menu span:nth-child(2) {
    top: 24px;
  }
  .hamberger-menu span:nth-child(3) {
    top: 36px;
  }
  .hamberger-menu.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 24px;
  }
  .hamberger-menu.active span:nth-child(2), .hamberger-menu.active span:nth-child(3) {
    transform: rotate(45deg);
    top: 24px;
  }
}
@media screen and (max-width: 480px) {
  .sp-menu {
    padding: 250px 15px;
  }
}
/* footer */
#footer {
  background: rgba(217, 189, 135, 0.26);
  padding: 15px 15px;
}

.copy-text {
  font-size: 1.8rem;
  text-align: center;
}

/* Top */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background: #fff;
  font-size: 2rem;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.72);
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  background: rgba(217, 189, 135, 0.26);
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

.section-title {
  font-size: 5.6rem;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 767px) {
  .section-text {
    font-size: 1.6rem;
  }
}

.sub-text {
  color: rgb(151, 71, 255);
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .sub-text {
    margin-bottom: 60px;
  }
}

.bottom-text {
  text-align: end;
}
.bottom-text a {
  font-size: 2.4rem;
  color: rgb(151, 71, 255);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 767px) {
  .bottom-text a {
    font-size: 1.6rem;
  }
}

.bottom-text:hover {
  opacity: 0.8;
}

/* contact */
.contact {
  text-align: center;
  padding: 144px 15px 120px;
}

.contact-text {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .contact-text {
    margin-bottom: 48px;
  }
}
.contact-text .section-title {
  display: inline-block;
  padding-right: 20px;
}
.contact-text img {
  width: 33px;
  height: 24px;
}

.form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 10px;
}
.form-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 30px;
}
.form-list .form-label {
  margin-bottom: 10px;
  text-align: start;
}
.form-list .form-label span {
  display: inline-block;
  width: 52px;
  height: 30px;
  background: rgba(228, 89, 89, 0.7);
  font-size: 1.6rem;
  line-height: 30px;
  text-align: center;
  margin-left: 10px;
}

.form-list:nth-child(5) {
  margin-bottom: 0;
}

.form-text {
  max-width: 700px;
  height: 60px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  font-size: 1.6rem;
}

.textarea {
  max-width: 700px;
  height: 200px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  font-size: 1.6rem;
}

.buttom-item {
  padding-top: 70px;
}
@media screen and (max-width: 767px) {
  .buttom-item {
    padding-top: 100px;
  }
}

.button {
  width: 280px;
  line-height: 64px;
  position: relative;
  display: inline-block;
  background: transparent;
  border: solid 2px rgb(151, 71, 255);
  outline: none;
  text-align: center;
  font-size: 1.8rem;
  transition: all 0.2s ease;
  border-radius: 25px;
}

.button:hover {
  border-color: transparent;
}

.button span {
  position: relative;
  z-index: 2;
  display: block;
  background: #fff;
  color: rgb(151, 71, 255);
  border-radius: 25px;
  transition: all 0.3s ease;
}

.pushdown::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #333;
}

.pushdown:hover span {
  background: rgb(151, 71, 255);
  color: #fff;
  transform: translateY(4px);
}/*# sourceMappingURL=contact.css.map */